body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.calculator {
    background-color: #C0C0C0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 320px;
}

#display {
    width: 90%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: right;
    background-color: #ffffff;
    color: #000000;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777;
}

button.zero {
    grid-column: span 2;
}